.container{
    width: 50rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .changes{
        display: flex;
        flex-direction: row;
        gap: 20%;
        margin-top: 8rem;
        width: 80%;
        height: 100%;
    }
    h2{
        display: flex;
        font-size: 2rem;
        justify-content: center;
    }

}